@import '../../../styles/settings.scss';
.customNavbar {
  background-color: $color-primary;
  padding: 15px;
  width: 100%;
}

.brand {
  font-family: $font-header;
  font-size: 40px;
  font-weight: 900;
  color: $color-text-bright;
}

.link {
  font-family: $font-text;
  font-size: 25px;
  font-weight: 700;
}
  