@import './settings.scss';

h1, h2, h3, h4, h5, h6 {
  margin: 0.5rem;
}

h1 {
  font-family: $font-header;
  font-weight: bold;
  margin: 2rem 0;
  font-size: 6rem;
}

h2 {
  font-family: $font-header;
  font-weight: bold;
  margin: 2rem 0;
  font-size: 5rem;
}

p{
  font-family: $font-text;
}

li{
  font-family: $font-text;
}